.full-height {
  min-height: calc(100vh - 70px);
}
.countries-bg-light {
  background-color: #f6f2f2;
  color: #171232;
}
.countries-bg-dark {
  background-color: #202c37;
  color: #fafafa;
}
.countries-bg-dark, .countries-bg-light {
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
  transition: color 300ms linear;
}

@media only screen and (min-width: 768px) {
  .flex-4-cols {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    flex-grow: 1;
    gap: 5%;
  }
  .flex-4-cols > * {
    flex-basis: 30%;
  }
}
@media only screen and (min-width: 1440px) {
  .flex-4-cols {
    gap: 4%;
  }
  .flex-4-cols > * {
    flex-basis: 22%;
  }
}