body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
* {
  box-sizing: border-box;
}
.container {
  width: 95%;
  margin: 0 auto;
}
.mt-1 {
  margin-top: 1rem;
}
.mb-1 {
  margin-bottom: 1rem;
}
.ml-1 {
  margin-left: 1rem;
}
.mr-1 {
  margin-right: 1rem;
}
.pt-1 {
  padding-top: 1rem;
}
.pb-1 {
  padding-bottom: 1rem;
}
.pl-1 {
  padding-left: 1rem;
}
.pr-1 {
  padding-right: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}

/* for debugging */
.bg-reddish {
  background-color: rgb(225, 92, 92);
}

@media only screen and (min-width: 768px) {
  .container {
    width: 85%;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    width: 80%;
  }
}