body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
* {
  box-sizing: border-box;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.sm-mt-1 {
  margin-top: 1rem;
}
.sm-pt-1 {
  padding-top: 1rem;
}
.sm-pb-4 {
  padding-bottom: 5rem;
}
.sm-mb-2 {
  margin-bottom: 2rem;
}
.sm-mb-1 {
  margin-bottom: 1rem;
}
.sm-mb-half {
  margin-top: 0.5rem;
}
.mt-1 {
  margin-top: 1rem;
}
.mb-1 {
  margin-bottom: 1rem;
}
.ml-1 {
  margin-left: 1rem;
}
.mr-1 {
  margin-right: 1rem;
}
.pt-1 {
  padding-top: 1rem;
}
.pb-1 {
  padding-bottom: 1rem;
}
.pl-1 {
  padding-left: 1rem;
}
.pr-1 {
  padding-right: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mt-4 {
  margin-top: 4rem;
}
.mb-3 {
  margin-bottom: 3rem;
}
.mb-half {
  margin-bottom: 0.5rem;
}
.mr-half {
  margin-right: 0.5rem;
}
/* for debugging */
.bg-reddish {
  background-color: rgb(225, 92, 92);
}
.link-no-decoration {
  text-decoration: none;
}
.blue-border-hover:hover {
  border: 1px solid blue;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 85%;
  }
  .sm-mb-1, .sm-mb-half, .sm-mb-2 {
    margin-bottom: 0;
  }
  .sm-pb-4 {
    padding-bottom: 0;
  }
  .sm-pt-1 {
    padding-top: 0;
  }
  .sm-mt-1 {
    margin-top: 0;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    width: 80%;
  }
}